---
import Layout from '../layouts/Layout.astro';
---
<Layout title='404 Not Found' >
  <div class="flex w-full justify-center items-center " >
    <picture>
      <img class="h-[50vh] w-auto" src="https://i.ibb.co/bLWmybP/no-data.png" alt="no data found">
    </picture>
  </div>
</Layout>